@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway|Source+Serif+Pro|Bad+Script');
body {
    padding-top: 3rem;
    
}

.bg-img{
    background-image: url(/static/img/home-image.jpg);
    background-size: cover;
}

.dancing-font{
    font-family:'Raleway',san-serif;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid ghostwhite; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .13em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 0.85s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: #dbdf09; }
  }
  .source-serif-pro{
      font-family: 'Source Serif Pro',serif;
  }
  .display-3 {
	font-size: 35px;
	font-weight: 300;
	line-height: 1.2;
}
.raleway{
    font-family: 'Raleway',sans-serif;
}

.home-bg{
    background-image: url(/static/img/landing-bg.jpg);
    background-size: cover;
}
video#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
.bad-script{
    font-family: 'Bad Script', cursive;

}

.home-display-word{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}
a:hover{
    text-decoration: none;
}
